// @import 'abstracts/variables';
// @import 'abstracts/mixins';
@import 'base/base';
// // @import 'reset/normalize';
// @import 'components/buttons';
// @import 'components/popup';
// @import 'layouts/header';
// @import 'layouts/footer';

.boardCol, .gameboard {
  border: 1px solid #9fb3c1;
};

.canvas {
  border: 1px solid #9fb3c1;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;

  // this puts our canvas to the center of the page on any window size:
  transform: translate(-50%, -50%);
}
