// @import 'abstracts/variables';
// @import 'abstracts/mixins';
@import 'base/base';
// // @import 'reset/normalize';
// @import 'components/buttons';
// @import 'components/popup';
// @import 'layouts/header';
// @import 'layouts/footer';

.boardCol,
.gameboard {
  border: 1px solid #9fb3c1;
}

;

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 246, 246);
}

.canvas {
  border: 1px solid #9fb3c1;
  background-color: rgb(235, 243, 249);
  // position: absolute;
  // top: 50%;
  // left: 50%;
  border-radius: 5px;

  // this puts the canvas to the center of the page on any window size:
  // transform: translate(-50%, -40%);
}

.container {
  width: 300px;
  height: 100px;
  // margin: 20%;
}

.button-box {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 45%;
  height: 70%;
  border: #9fb3c1 1px solid;
  color: rgb(47, 150, 166);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.3em;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(247, 229, 240);
}

span {
  font-family: 'Patrick Hand', cursive;
}